@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/inter';

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.bg-grid {
  background-size: 30px 30px;
  background-image: 
    linear-gradient(to right, #4f4f4f2e 1px, transparent 1px),
    linear-gradient(to bottom, #4f4f4f2e 1px, transparent 1px);
}

.mask-radial {
  mask-image: radial-gradient(circle at center, white, transparent 80%);
}